#content {
    .header {
        padding: 24px 32px;
        @include clear-after;
        .link {
            margin: 10px 0;
            display: block;
            float: left;
            line-height: 20px;
            color: $textColorDark;
            @include transition;
            svg {
                margin: 0 8px 0 0;
                max-width: 20px;
                max-height: 20px;
                display: inline-block;
                vertical-align: top;
                opacity: .5;
                @include transition;
                * {
                    stroke: $textColor;
                }
                &.fill {
                    stroke: none;
                    fill: $textColor;
                }
            }
            &:hover {
                color: $textColor;
                svg {
                    opacity: 1;
                }
            }
        }
        .user {
            float: right;
            nav {
                float: left;
                margin: 10px 0;
                & > ul {
                    @include clear-after;
                    & > li {
                        float: left;
                        position: relative;
                        margin: 0 20px 0 0;
                        & > a {
                            display: block;
                            position: relative;
                            svg {
                                max-width: 20px;
                                max-height: 20px;
                                display: block;
                                opacity: .5;
                                @include transition;
                                * {
                                    stroke: $textColor;
                                }
                                &.fill {
                                    stroke: none;
                                    fill: $textColor;
                                }
                            }
                        }
                        &:hover {
                            & > a {
                                svg {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            .panel {
                float: left;
                .avatar {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    white-space: nowrap;
                    text-align: center;
                    color: $textColorDark;
                    position: relative;
                    text-transform: uppercase;
                    &:before {
                        content: '';
                        border-radius: 50%;
                        border: 1px solid $border;
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        display: block;
                    }
                }
            }
            .messages {
                float: left;
                margin: 10px 0 10px 20px;
                padding-left: 20px;
                border-left: 1px solid $border;
                position: relative;
                & > a {
                    display: block;
                    svg {
                        width: 20px;
                        height: 20px;
                        display: block;
                        opacity: .5;
                        @include transition;
                        * {
                            stroke: $textColor;
                        }
                        &.fill {
                            stroke: none;
                            fill: $textColor;
                        }
                    }
                    &:hover {
                        svg {
                            opacity: 1;
                        }
                    }
                }
                &.open {
                    & > a {
                        svg {
                            opacity: 1;
                        }
                    }
                }
                .list {
                    position: absolute;
                    top: 100%;
                    right: -10px;
                    z-index: 2;
                    width: 360px;
                    background: $darkLight;
                    border-radius: 4px;
                    padding: 12px;
                    box-shadow: 0 4px 12px rgba(#0B1016, .3);
                    opacity: 0;
                    visibility: hidden;
                    @include translate(0, 4px);
                    @include transition;
                    &.open {
                        opacity: 1;
                        visibility: visible;
                        @include translate(0, 20px);
                    }
                    .noMessages {
                        text-align: center;
                        color: $textColorDark;
                    }
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        li {
                            @include clear-after;
                            &.success {
                                border-color: $success;
                                background: fade-out($success, .2);
                            }
                            &.error {
                                border-color: $error;
                                background: fade-out($error, .2);
                            }
                            &.warning {
                                border-color: $warning;
                                background: fade-out($warning, .2);
                            }
                            &.success,
                            &.error,
                            &.warning {
                                position: relative;
                                margin: 0 0 8px 0;
                                padding: 8px 32px 8px 40px;
                                border-radius: 4px;
                                color: #fff;
                                font-size: 14px;
                                text-shadow: 0 1px 1px rgba(#000, .12);
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                .icon {
                                    position: absolute;
                                    left: 12px;
                                    top: 50%;
                                    @include translate(0, -50%);
                                }
                                a {
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    position: absolute;
                                    right: 8px;
                                    top: 50%;
                                    opacity: .7;
                                    @include transition;
                                    @include translate(0, -50%);
                                    &:hover {
                                        opacity: 1;
                                    }
                                    svg {
                                        position: absolute;
                                        left: 50%;
                                        top: 50%;
                                        width: 20px;
                                        height: 20px;
                                        @include translate(-50%, -50%);
                                        * {
                                            stroke: #fff;
                                        }
                                        &.fill {
                                            stroke: none;
                                            fill: #fff;
                                        }
                                    }
                                }
                                svg {
                                    width: 16px;
                                    height: 16px;
                                    display: block;
                                    * {
                                        stroke: #fff;
                                    }
                                    &.fill {
                                        stroke: none;
                                        fill: #fff;
                                    }
                                }
                            }
                            .toggleMore,
                            .remove {
                                padding: 4px 0;
                                width: 50%;
                                text-align: center;
                                cursor: pointer;
                                color: $textColorDark;
                                @include transition;
                                &:hover {
                                    color: $textColor;
                                }
                            }
                            .toggleMore {
                                float: left;
                                span {
                                    display: inline-block;
                                    line-height: 20px;
                                    vertical-align: top;
                                    font-size: 10px;
                                    border-radius: 10px;
                                    padding: 0 8px;
                                    margin: 3px 4px 3px 0;
                                    background: $darkLighter;
                                    color: $textColorLight;
                                }
                            }
                            .remove {
                                float: right;
                            }
                        }
                    }
                }
                &.active {
                    & > a {
                        svg {
                            opacity: 1;
                        }
                        &:before {
                            content: '';
                            z-index: 1;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: $primary;
                            position: absolute;
                            top: -2px;
                            right: 0;
                            border: 1px solid $darker;
                        }
                    }
                }
            }
        }
    }
}
