#main {
    .header {
        padding: 20px 40px;
        position: relative;
        @include clear-after;
        &:before {
            content: '';
            border-bottom: 1px solid $border;
            bottom: 0;
            left: 40px;
            right: 40px;
            position: absolute;
            display: block;
        }
        .link {
            margin: 10px 0;
            display: block;
            float: left;
            line-height: 20px;
            color: $textColor;
            @include transition;
            svg {
                margin: 0 8px 0 0;
                max-width: 20px;
                max-height: 20px;
                display: inline-block;
                vertical-align: top;
                opacity: .5;
                @include transition;
                * {
                    stroke: $textColor;
                }
                &.fill {
                    stroke: none;
                    fill: $textColor;
                }
            }
            &:hover {
                color: $textColor;
                svg {
                    opacity: 1;
                }
            }
        }
        .user {
            float: right;
            nav {
                float: left;
                margin: 10px 0;
                & > ul {
                    @include clear-after;
                    & > li {
                        float: left;
                        position: relative;
                        margin: 0 20px 0 0;
                        & > a {
                            display: block;
                            position: relative;
                            svg {
                                max-width: 20px;
                                max-height: 20px;
                                display: block;
                                opacity: .5;
                                @include transition;
                                * {
                                    stroke: $textColor;
                                }
                                &.fill {
                                    stroke: none;
                                    fill: $textColor;
                                }
                            }
                        }
                        &:hover {
                            & > a {
                                svg {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            .panel {
                float: left;
                .avatar {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    white-space: nowrap;
                    text-align: center;
                    color: $textColor;
                    position: relative;
                    text-transform: uppercase;
                    &:before {
                        content: '';
                        border-radius: 50%;
                        border: 1px solid $border;
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        display: block;
                    }
                }
            }
        }
    }
    .toolbar {
        padding: 24px 40px 0 40px;
        @include flexbox;
        @include align-items(center);
        .headline {
            float: left;
            h1 {
                margin: 0;
            }
            h5 {
                font-size: $fontSize;
                color: $textColor;
                font-weight: 500;
                margin: 4px 0 0 0;
            }
        }
        .text {
            justify-content: flex-end;
        }
        .filler {
            @include flex-grow(1);
        }
    }
    .content {
        padding: 24px 40px;
    }
}
