:root {
    --toolbar-icon: var(--text-muted);
    --toolbar-icon-hover: var(--text);
    --toolbar-icon-active: var(--light-5);
    --toolbar-icon-dot: var(--secondary);

    --toolbar-dropdown-empty: var(--text-muted);
    --toolbar-dropdown-background: var(--dark-5);
    --toolbar-dropdown-shadow: var(--dark-3);

    --menu-icon: var(--light-2);
    --menu-icon-active: var(--light-5);

    --user-gradient: var(--background-gradient);
    --user-avatar: var(--dark-4);
    --user-avatar-hover: var(--dark-5);
    --user-avatar-color: var(--text);
}

#main {
    @include max(md) {
        transition: transform .3s ease;
        &.openSide {
            transform: translateX(var(--sidebar-width));
        }
    }
    .toolbar {
        display: flex;
        @include max(sm) {
            padding: 32px 0;
        }
        & > div {
            & > nav {
                & > ul {
                    display: flex;
                    & > li {
                        margin: 8px 24px 8px 0;
                        & > a {
                            display: table;
                            padding: 4px;
                            & > svg {
                                color: var(--toolbar-icon);
                                width: 16px;
                                height: 16px;
                                display: block;
                                transition: color .3s ease;
                            }
                            &:hover {
                                & > svg {
                                    color: var(--toolbar-icon-hover);
                                }
                            }
                        }
                        &.notification {
                            @include max(sm) {
                                display: none;
                            }
                        }
                    }
                }
            }
            &:first-child {
                padding: 0 60px 0 48px;
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include max(md) {
                    padding: 0 44px 0 36px;
                }
                @include max(sm) {
                    padding: 0 24px;
                }
                @include max(xs) {
                    padding: 0 20px;
                }
                .logo {
                    display: none;
                    flex-basis: 40px;
                    margin-right: 20px;
                    @include max(md) {
                        display: block;
                    }
                    svg {
                        width: 40px;
                        height: 40px;
                        display: block;
                        fill: url(#primaryGradient);
                    }
                }
                .menu {
                    display: none;
                    width: 24px;
                    height: 20px;
                    position: relative;
                    cursor: pointer;
                    flex-basis: 24px;
                    margin: 1px 20px 0 0;
                    @include max(md) {
                        display: block;
                    }
                    div {
                        position: absolute;
                        height: 2px;
                        border-radius: 1px;
                        background: var(--menu-icon);
                        transition: transform .45s cubic-bezier(.9, -.6, .3, 1.6), width .2s ease .2s, background .3s ease;
                    }
                    input {
                        display: none;
                        & + div {
                            top: 50%;
                            left: 0;
                            margin: -1px 0 0 0;
                            width: 24px;
                            transform-origin: 50% 50%;
                            & + div {
                                top: 1px;
                                left: 0;
                                width: 14px;
                                transform-origin: 0 50%;
                                & + div {
                                    bottom: 1px;
                                    right: 0;
                                    width: 16px;
                                    transform-origin: 100% 50%;
                                    transform: translate(-8px, 0);
                                }
                            }
                        }
                        &:checked + div {
                            background: var(--menu-icon-active);
                            transform: rotate(-45deg);
                            transition: transform .45s cubic-bezier(.9, -.6, .3, 1.6) .1s, background .3s ease;
                            & + div {
                                background: var(--menu-icon-active);
                                width: 12px;
                                transform: translate(3px, 0) rotate(45deg);
                                transition: transform .45s cubic-bezier(.9, -.6, .3, 1.6) .1s, width .2s ease, background .3s ease;
                                & + div {
                                    background: var(--menu-icon-active);
                                    width: 12px;
                                    transform: translate(-4px, 1px) rotate(45deg);
                                    transition: transform .45s cubic-bezier(.9, -.6, .3, 1.6) .1s, width .2s ease, background .3s ease;
                                }
                            }
                        }
                    }
                }
                .headline {
                    flex-grow: 0;
                    flex-shrink: 1;
                    display: flex;
                    align-items: center;
                    h1 {
                        line-height: 40px;
                        margin: 0 8px 0 0;
                    }
                    .dropdown {
                        margin: 1px 0 0 0;
                        .btn {
                            padding: 10px 16px;
                            &.border {
                                --button-color: var(--text-muted);
                                &:before {
                                    display: none;
                                }
                            }
                            .caret {
                                --button-caret: var(--text-muted);
                            }
                        }
                        ul {
                            --dropdown-translate-active: 0;
                        }
                        &:hover,
                        &.open {
                            .btn {
                                &.border {
                                    --button-color: var(--text);
                                }
                                .caret {
                                    --button-caret: var(--text);
                                }
                            }
                        }
                    }
                }
                & > nav {
                    & > ul {
                        & > li {
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
            &:last-child {
                display: flex;
                align-items: center;
                padding: 48px 60px;
                background: var(--user-gradient);
                @include max(md) {
                    padding: 36px 44px;
                }
                @include max(sm) {
                    display: none;
                }
                .avatar {
                    display: block;
                    width: 36px;
                    height: 36px;
                    text-align: center;
                    line-height: 36px;
                    border-radius: 6px;
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: uppercase;
                    background: var(--user-avatar);
                    color: var(--user-avatar-color);
                    transition: background .3s ease;
                    &:hover {
                        background: var(--user-avatar-hover);
                    }
                }
            }
        }
    }
    .content {
        padding: 0 60px 0 48px;
        @include max(md) {
            padding: 0 44px 0 36px;
        }
        @include max(sm) {
            padding: 0 24px;
        }
        @include max(xs) {
            padding: 0 20px;
        }
        & > .notification {
            display: none;
            @include max(sm) {
                display: block;
            }
        }
        .lightBox {
            color: var(--body-text);
            background: var(--light-6);
            border-radius: 6px;
            padding: 32px;
            @include max(sm) {
                padding: 24px;
            }
        }
    }
}
