:root {
    --sidebar-width: 260px;
    --sidebar-gradient: var(--background-gradient);

    --nav-icon-inactive: var(--dark-5);
    --nav-icon-inactive-2: var(--dark-6);
    --nav-active: var(--light-5);
    --nav-inactive: var(--light-2);
    --nav-inactive-hover: var(--light-3);

    --nav-sub-active: var(--light-5);
    --nav-sub-active-before: var(--secondary);
    --nav-sub-inactive: var(--light-1);
    --nav-sub-inactive-hover: var(--light-2);
}

@include max(sm) {
    :root {
        --sidebar-width: 240px;
    }
}

#sidebar {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 11;
    width: var(--sidebar-width);
    background: var(--sidebar-gradient);
    transition: transform .3s ease;
    @include max(md) {
        transform: translateX(-100%);
        &.openSide {
            transform: translateX(0);
        }
    }
    .inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -20px;
        padding: 0 20px 32px 0;
        overflow: auto;
        @include max(md) {
            padding-top: 42px;
        }
        @include max(sm) {
            padding-top: 34px;
        }
        .logo {
            display: table;
            margin: 48px auto;
            @include max(md) {
                display: none;
            }
            svg {
                width: 44px;
                height: 44px;
                display: block;
                fill: url(#primaryGradient);
            }
        }
        .user {
            display: none;
            justify-content: space-between;
            align-items: center;
            padding: 0 32px;
            margin: 0 0 24px 0;
            @include max(sm) {
                display: flex;
            }
            @include max(xs) {
                padding: 0 24px;
            }
            nav {
                & > ul {
                    display: flex;
                    & > li {
                        margin: 0 16px 0 0;
                        &:last-child {
                            margin-right: 0;
                        }
                        & > a {
                            display: table;
                            padding: 4px;
                            & > svg {
                                color: var(--toolbar-icon);
                                width: 16px;
                                height: 16px;
                                display: block;
                                transition: color .3s ease;
                            }
                            &:hover {
                                & > svg {
                                    color: var(--toolbar-icon-hover);
                                }
                            }
                        }
                    }
                }
            }
            .avatar {
                display: block;
                width: 36px;
                height: 36px;
                text-align: center;
                line-height: 36px;
                border-radius: 6px;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                background: var(--user-avatar);
                color: var(--user-avatar-color);
                transition: background .3s ease;
                &:hover {
                    background: var(--user-avatar-hover);
                }
            }
        }
        & > nav {
            padding: 0 40px;
            @include max(sm) {
                padding: 0 32px;
            }
            @include max(xs) {
                padding: 0 24px;
            }
            & > ul {
                & > li {
                    position: relative;
                    margin: 0 0 24px 0;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        display: block;
                        position: relative;
                        font-weight: 500;
                        padding-left: 40px;
                        transition: color .3s ease;
                    }
                    & > a {
                        font-size: 16px;
                        line-height: 29px;
                        color: var(--nav-inactive);
                        svg {
                            position: absolute;
                            left: 0;
                            top: 2px;
                            width: 24px;
                            height: 24px;
                            display: block;
                            color: var(--nav-icon-inactive);
                            fill: var(--nav-icon-inactive-2);
                        }
                        &:hover {
                            color: var(--nav-inactive-hover);
                        }
                    }
                    & > span {
                        width: 24px;
                        height: 24px;
                        display: block;
                        position: absolute;
                        z-index: 1;
                        top: 3px;
                        right: -6px;
                        cursor: pointer;
                        &:before,
                        &:after {
                            content: '';
                            width: 2px;
                            height: 8px;
                            border-radius: 1px;
                            background: var(--nav-inactive);
                            position: absolute;
                            right: 8px;
                            top: 7px;
                            transform-origin: 50% 50%;
                            transition: transform .3s ease, background .3s ease;
                        }
                        &:before {
                            margin-right: 5px;
                            transform: scale(.92, .8) rotate(-50deg);
                        }
                        &:after {
                            transform: scale(.92, .8) rotate(50deg);
                        }
                        &:hover {
                            &:before,
                            &:after {
                                background: var(--nav-inactive-hover);
                            }
                        }
                    }
                    &.active {
                        & > a {
                            color: var(--nav-active);
                            svg {
                                fill: url(#primaryGradient);
                                color: var(--secondary);
                            }
                        }
                    }
                    &.opened {
                        & > span {
                            &:before,
                            &:after {
                                background: var(--nav-active);
                            }
                            &:before {
                                margin-right: 5px;
                                transform: scale(.92, .8) rotate(-130deg);
                            }
                            &:after {
                                transform: scale(.92, .8) rotate(130deg);
                            }
                        }
                        ul {
                            display: block;
                        }
                    }
                    ul {
                        padding: 8px 0 4px 0;
                        display: none;
                        li {
                            margin: 12px 0 0 0;
                            a {
                                line-height: 20px;
                                font-size: 14px;
                                color: var(--nav-sub-inactive);
                                &:before {
                                    content: '';
                                    width: 6px;
                                    height: 6px;
                                    position: absolute;
                                    border-radius: 50%;
                                    top: 7px;
                                    left: 9px;
                                    display: block;
                                    background: none;
                                }
                                &:hover {
                                    color: var(--nav-sub-inactive-hover);
                                }
                            }
                            &.active {
                                a {
                                    color: var(--nav-sub-active);
                                    &:before {
                                        background: var(--nav-sub-active-before);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
