:root {
    --sidebar-width: 260px;
}

#sidebar {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 11;
    width: var(--sidebar-width);
    background: linear-gradient(var(--dark-1), var(--dark-3));
    .inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -20px;
        padding: 0 20px 32px 0;
        overflow: auto;
        .logo {
            display: table;
            margin: 48px auto;
            svg {
                width: 44px;
                height: 44px;
                display: block;
                fill: url(#primaryGradient);
            }
        }
        nav {
            padding: 0 40px;
            & > ul {
                & > li {
                    margin: 0 0 24px 0;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        display: block;
                        position: relative;
                        font-weight: 500;
                        padding-left: 40px;
                    }
                    & > a {
                        font-size: 16px;
                        line-height: 29px;
                        color: var(--light-2);
                        svg {
                            position: absolute;
                            left: 0;
                            top: 2px;
                            width: 24px;
                            height: 24px;
                            display: block;
                            fill: var(--dark-6);
                            color: var(--dark-5);
                        }
                    }
                    &.active {
                        & > a {
                            color: var(--light-5);
                            svg {
                                fill: url(#primaryGradient);
                                color: var(--secondary);
                            }
                        }
                    }
                    ul {
                        padding: 8px 0 4px 0;
                        li {
                            margin: 12px 0 0 0;
                            a {
                                line-height: 20px;
                                font-size: 14px;
                                color: var(--light-1);
                                &:before {
                                    content: '';
                                    width: 6px;
                                    height: 6px;
                                    position: absolute;
                                    border-radius: 50%;
                                    top: 7px;
                                    left: 9px;
                                    display: block;
                                    background: none;
                                }
                            }
                            &.active {
                                a {
                                    color: var(--light-5);
                                    &:before {
                                        background: var(--secondary);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
