<template id="table-template">
    <div class="scrollVertical">
        <table class="table">
            <thead>
                <tr>
                    <th class="check">
                        <div class="checkbox">
                            <input id="checkAll" type="checkbox" v-model="checkAll">
                            <label for="checkAll"></label>
                        </div>
                    </th>
                    <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey && sortKey == key }">
                        <a :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                            {{ key | lang }}
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in data | filterBy filterKey | orderBy sortKey sortOrders[sortKey] | paginate" v-slot>
                    <td class="check">
                        <div class="checkbox">
                            <input id="entry{{ entry.id }}" type="checkbox" v-model="checked" :value="entry.id" number>
                            <label for="entry{{ entry.id }}"></label>
                        </div>
                    </td>
                </tr>
                <tr v-if="!filtered.length">
                    <td class="empty" :colspan="columnSpan">{{ 'no_results' | lang }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="toolbar clear">
        <ul class="pagination" v-if="totalPages > 1">
            <li v-for="page in totalPages" v-if="Math.abs(page - currentPage) < 3 || page == totalPages - 1 || page == 0">
                <a @click="setPage(page)" :class="{ active: currentPage === page, last: (page == totalPages - 1 && Math.abs(page - currentPage) > 3), first:(page == 0 && Math.abs(page - currentPage) > 3) }">{{ page + 1 }}</a>
            </li>
        </ul>
    </div>
</template>
