<template id="file-table-template">
    <div>
        <ul class="breadcrumb">
            <li><a @click="setPath('/')"><?=lang::get('home'); ?></a></li>
            <li v-for="entry in breadcrumbs">
                <a @click="setPath(entry.path)" v-text="entry.name"></a>
            </li>
        </ul>

        <?php

            $form = new form();
            $form->setHorizontal(false);

            $form->addFormAttribute('v-on:submit.prevent', 'edit');

            $field = $form->addTextField('name', '', ['v-model' => 'editFileName']);
            $field->fieldName(lang::get('name'));
            $field->fieldValidate();

        ?>

        <modal v-if="editFile" @close="editFile = false">
            <h3 slot="header"><?=lang::get('edit'); ?></h3>
            <div slot="content">
                <?=$form->show(); ?>
            </div>
        </modal>

        <div class="scrollVertical">
            <table class="table media">
                <thead>
                    <tr>
                        <th class="check" v-if="!select">
                            <div class="checkbox">
                                <input id="checkAll" type="checkbox" v-model="checkAll">
                                <label for="checkAll"></label>
                            </div>
                        </th>
                        <th>
                            {{ 'name' | lang }}
                        </th>
                        <th>
                            {{ 'size' | lang }}
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="entry in filtered">
                        <td class="check" v-if="!select">
                            <div class="checkbox" v-if="entry.id">
                                <input :id="'entry' + entry.id" type="checkbox" v-model="checked" :value="entry.id" number>
                                <label :for="'entry' + entry.id"></label>
                            </div>
                        </td>
                        <td v-if="entry.type == 'dir'" v-drop="move(entry.path, $dropdata)">
                            <a class="dir" @click="setPath(entry.path)">
                                <i class="icon icon-folder"></i>
                                {{ entry.name }}
                            </a>
                        </td>
                        <template v-if="select">
                        <td v-if="entry.type == 'file'" class="file">
                            <div>
                                {{ entry.name }}
                            </div>
                        </td>
                        </template>
                        <template v-else>
                        <td v-if="entry.type == 'file'" class="file" v-drag="{id: entry.id, name: entry.name}">
                            <div>
                                {{ entry.name }}
                            </div>
                        </td>
                        </template>
                        <td>
                            {{ entry.size }}
                        </td>
                        <td v-if="select" class="shrink">
                            <a v-if="entry.type == 'file'" @click="selectFile(entry.id)" class="icon icon-checkmark-circled"></a>
                        </td>
                        <td v-else class="shrink">
                            <a @click="editFileID = entry.id, editFileName = entry.name, editFile = true;" class="icon icon-edit"></a>
                        </td>
                    </tr>
                    <tr v-if="!filtered.length">
                        <td class="empty" :colspan="select ? 3 : 4"><?=lang::get('no_results'); ?></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="toolbar clear"></div>
        <a v-if="select" @click="selectFile()" class="button error center">
            <i class="icon icon-close-circled"></i>
            <?=lang::get('choose_files_no'); ?>
        </a>
    </div>
</template>
