<template id="form-media">
    <div class="formMedia">
        <a @click="addMediaModal = true" class="button border">
            <i class="icon icon-archive"></i>
            <?=lang::get('choose'); ?>
        </a>
        <a class="button none sm" v-text="fileName == false ? value : fileName">{{ value }}</a>
        <input :name="name" type="hidden" v-model="fileName == false ? value2 : fileName">
        <modal v-if="addMediaModal" @close="addMediaModal = false" size="large">
            <h3 slot="header"><?=lang::get('choose'); ?></h3>
            <div slot="content">
                <file-table :headline="headline" :search="search" table-type="select" :ext="ext"></file-table>
            </div>
        </modal>
    </div>
</template>
