<template id="modal-template">
    <div id="modal" v-show="show" transition="modal">
        <div class="wrap">
            <div class="inner">

                <header>
                    <slot name="header"></slot>
                </header>

                <div class="content">
                    <slot name="body"></slot>
                </div>

                <footer>
                    <slot name="footer">
                        <button class="button border" @click="show = false">
                            {{ 'close' | lang }}
                        </button>
                    </slot>
                </footer>

            </div>
        </div>
    </div>
</template>
