<template id="modal-template">
    <transition name="modal" v-on:before-enter="beforeEnter">
        <div class="modal">
            <div :class="'mask ' + size">
                <div :class="'inner ' + animated">

                    <header>
                        <slot name="header"></slot>
                        <div @click="$emit('close')" class="close">
                            <i class="icon icon-close-round"></i>
                        </div>
                    </header>

                    <div class="content">
                        <slot name="content"></slot>
                    </div>

                </div>
            </div>
        </div>
    </transition>
</template>
