<template id="searchbox-template">
    <div class="form-select">
        <div class="choose" @click="toggleSearchBox">{{ (active) ? active : '-' }}</div>
        <div v-if="searchBoxShow" class="searchBox">
            <div class="search">
                <input type="text" v-model="searchBox">
                <i @click="toggleSearchBox" class="icon icon-close-round"></i>
            </div>
            <template v-if="active">
                <div class="result">
                    <span class="active">{{ active }}</span>
                </div>
            </template>
            <template v-if="this.searchBox.length >= 1">
                <ul class="result" v-if="data.length">
                    <li v-for="entry in data" @click="setActive(entry[val], entry[id])">
                        {{ entry[val] }}
                    </li>
                </ul>
                <div class="result" v-if="!data.length"><?=lang::get('no_results'); ?></div>
            </template>
            <template v-if="active">
                <div class="result">
                    <span @click="setActive('', 0)"><?=lang::get('delete'); ?></span>
                </div>
            </template>
        </div>
    </div>
</template>
