:root {
    --button: var(--primary);
    --button-hover: var(--primary-hover);
    --button-color: var(--light-7);
    --button-color-hover: var(--light-7);

    --button-border: var(--light-1);
    --button-border-hover: var(--secondary);
    --button-border-color: var(--text);

    --button-secondary: var(--secondary);
    --button-secondary-hover: var(--secondary-hover);

    --button-success: var(--success);
    --button-error: var(--error);
    --button-warning: var(--warning);

    --button-none-color: var(--primary);
    --button-none-hover-color: var(--primary-hover);
}

.light {
    --button-border: var(--light-4);
    --button-border-color: var(--light-2);
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    position: relative;
    white-space: nowrap;
    border: none;
    color: var(--button-color);
    padding: 10px 28px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    background: var(--button);
    border-radius: 6px;
    transition: all .3s ease;
    &:link,
    &:active,
    &:visited,
    &:focus {
        color: var(--button-color);
    }
    svg {
        position: relative;
        left: -4px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: top;
        font-weight: normal;
        margin: 3px 0;
        &.right {
            left: auto;
            right: -4px;
        }
    }
    &.icon {
        padding: 10px;
        svg {
            left: auto;
            right: auto;
            display: block;
            margin: 3px;
        }
    }
    &.sm {
        font-size: 14px;
        border-radius: 6px;
        padding: 6px 20px;
        &.icon {
            padding: 6px;
            svg {
                margin: 4px;
            }
        }
        svg {
            width: 14px;
            height: 14px;
            margin: 4px 0;
        }
    }
    &:hover {
        --button-color: var(--button-color-hover);
        --button: var(--button-hover);
    }
    .caret {
        width: 18px;
        height: 22px;
        display: inline-block;
        margin: 1px 0 0 0;
        right: -8px;
        position: relative;
        vertical-align: top;
        --button-caret: var(--button-color);
        &:before,
        &:after {
            content: '';
            width: 2px;
            height: 8px;
            border-radius: 1px;
            background: var(--button-caret);
            position: absolute;
            right: 8px;
            top: 7px;
            transform-origin: 50% 50%;
            transition: transform .3s ease, background .3s ease;
        }
        &:before {
            margin-right: 5px;
            transform: scale(.92, .8) rotate(-50deg);
        }
        &:after {
            transform: scale(.92, .8) rotate(50deg);
        }
    }
    &.border {
        --button: none;
        --button-color: var(--button-border-color);
        &:before {
            content: '';
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            z-index: 0;
            border-radius: inherit;
            transition: border-color .3s ease;
            border: 1px solid var(--button-border);
        }
        &:hover {
            &:before {
                border-color: var(--button-border-hover);
            }
        }
        .caret {
            --button-caret: var(--button-border-color);
        }
    }
    &.secondary {
        --button: var(--button-secondary);
        &:hover {
            --button: var(--button-secondary-hover);
        }
    }
    &.success {
        --button: var(--button-success);
    }
    &.error {
        --button: var(--button-error);
    }
    &.warning {
        --button: var(--button-warning);
    }
    &.none {
        --button: none;
        --button-color: var(--button-none-color);
        &:hover {
            --button: none;
            --button-color: var(--button-none-hover-color);
        }
    }
    &.center {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    &.block {
        display: block;
        width: 100%;
    }
}

.btn-group {
    .btn + .btn,
    .btn + .btn-group,
    .btn-group + .btn,
    .btn-group + .btn-group {
        margin-left: -1px;
    }
    .btn {
        &:hover,
        &:focus,
        &:active {
            z-index: 2;
        }
        &:not(:first-child):not(:last-child) {
            &:before {
                border-radius: 0;
            }
            border-radius: 0;
        }
        &:last-child:not(:first-child) {
            &:before,
            &:after {
                border-radius: inherit;
            }
            border-radius: 0 6px 6px 0;
        }
        &:first-child:not(:last-child) {
            &:before,
            &:after {
                border-radius: inherit;
            }
            border-radius: 6px 0 0 6px;
        }
        &:first-child {
            margin-left: 0;
        }
        &:hover,
        &:active {
            transform: none;
        }
        float: left;
    }
    position: relative;
    display: inline-block;
    vertical-align: middle;
    @include clear;
}
