:root {
    --button-border: var(--light-1);
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    position: relative;
    white-space: nowrap;
    border: none;
    color: #fff;
    padding: 10px 28px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 600;
    background: var(--primary);
    border-radius: 6px;
    transition: all .3s ease;
    &:link,
    &:active,
    &:visited,
    &:focus {
        color: #fff;
    }
    svg {
        position: relative;
        left: -4px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: top;
        font-weight: normal;
        margin: 3px 0;
        &.right {
            left: auto;
            right: -4px;
        }
    }
    &.icon {
        padding: 10px;
        svg {
            left: auto;
            right: auto;
            display: block;
            margin: 3px;
        }
    }
    &.sm {
        font-size: 14px;
        border-radius: 6px;
        padding: 6px 20px;
        &.icon {
            padding: 6px;
            svg {
                margin: 4px;
            }
        }
        svg {
            width: 14px;
            height: 14px;
            margin: 4px 0;
        }
    }
    &:hover {
        color: #fff;
        background: var(--primary-hover);
    }
    &.border {
        background: none;
        color: var(--text);
        &:link,
        &:active,
        &:visited,
        &:focus {
            color: var(--text);
        }
        &:before {
            content: '';
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            z-index: 0;
            border-radius: inherit;
            transition: border-color .3s ease;
            border: 1px solid var(--button-border);
        }
        &:hover {
            &:before {
                border-color: var(--secondary);
            }
        }
    }
    &.secondary {
        background: var(--secondary);
        &:hover {
            background: var(--secondary-hover);
        }
    }
    &.success {
        background: var(--success);
    }
    &.error {
        background: var(--error);
    }
    &.warning {
        background: var(--warning);
    }
    &.none {
        background: none;
        color: var(--text);
        &:hover {
            background: none;
        }
    }
    &.center {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    &.block {
        display: block;
    }
}

.btn-group {
    .btn + .btn,
    .btn + .btn-group,
    .btn-group + .btn,
    .btn-group + .btn-group {
        margin-left: -1px;
    }
    .btn {
        &:hover,
        &:focus,
        &:active {
            z-index: 2;
        }
        &:not(:first-child):not(:last-child) {
            &:before {
                border-radius: 0;
            }
            border-radius: 0;
        }
        &:last-child:not(:first-child) {
            &:before,
            &:after {
                border-radius: inherit;
            }
            border-radius: 0 6px 6px 0;
        }
        &:first-child:not(:last-child) {
            &:before,
            &:after {
                border-radius: inherit;
            }
            border-radius: 6px 0 0 6px;
        }
        &:first-child {
            margin-left: 0;
        }
        &:hover,
        &:active {
            transform: none;
        }
        float: left;
    }
    position: relative;
    display: inline-block;
    vertical-align: middle;
    @include clear;
}
