:root {
    --input-background: var(--dark-2);
    --input-background-disabled: var(--dark-3);
}

.form-field {
    outline: none;
    display: block;
    width: 100%;
    -webkit-appearance: none;
    background: var(--input-background);
    border: 1px solid var(--border);
    padding: 10px 16px;
    color: var(--text);
    border-radius: 6px;
    transition: border .3s ease;
    &::placeholder {
        color: var(--text-muted);
    }
    &:-webkit-autofill {
        //hacky, thanks chrome devs ...
        -webkit-transition-delay: 99999s;
        -webkit-box-shadow: 0 0 0 100px var(--input-background) inset;
        -webkit-text-fill-color: var(--text) !important;
    }
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        opacity: 1;
        color: var(--text-muted);
        background: var(--input-background-disabled);
        border-color: var(--border-disabled);
    }
    &[disabled],
    fieldset[disabled] & {
        cursor: not-allowed;
    }
    &.success {
        border-color: var(--success);
    }
    &.error {
        border-color: var(--error);
    }
    &:focus {
        outline: none;
        border-color: var(--border-focus);
    }
}

textarea {
    &.form-field {
        resize: vertical;
    }
}

.form-element {
    margin-bottom: 24px;
    label {
        margin-bottom: 8px;
    }
}

form {
    &.horizontal {
        .form-element {
            & > label {
                @include min(sm) {
                    margin-bottom: 0;
                    padding: 10px 0;
                }
            }
            .static {
                margin-bottom: 0;
                @include min(sm) {
                    padding: 10px 0;
                }
            }
        }
        .checkbox:first-child,
        .checkbox.inline,
        .radio:first-child,
        .radio.inline,
        .switch:first-child,
        .switch.inline {
        }
    }
}

.checkbox,
.radio,
.switch {
    margin: 0;
    &.inline {
        margin: 0 12px 0 0;
        display: inline-block;
    }
    & > span {
        margin: 0 0 0 6px;
        vertical-align: top;
    }
    input {
    }
}
