:root {
    --input-color: var(--text);
    --input-background: var(--dark-3);
    --input-background-disabled: var(--dark-3);
    --input-placeholder: var(--text-muted);
    --input-disabled: var(--text-muted);
    --input-border: var(--border);
    --input-border-focus: var(--secondary);
    --input-border-disabled: var(--border-muted);
    --input-border-success: var(--success);
    --input-border-error: var(--error);

    --toggle-active: var(--primary);
    --toggle-active-element: var(--button-color-hover);
    --toggle-text: var(--text);
    --toggle-border: var(--input-border);
    --toggle-border-hover: var(--secondary);
    --toggle-background: var(--input-background);
}

.light {
    --input-color: var(--light-2);
    --input-background: var(--light-7);
    --input-background-disabled: var(--light-7);
    --input-placeholder: var(--light-3);
    --input-disabled: var(--light-3);
    --input-border: var(--light-4);
    --input-border-disabled: var(--light-5);

    --toggle-text: var(--light-2);
    --toggle-border: var(--input-border);
    --toggle-background: var(--input-background);
}

.form-field {
    outline: none;
    display: block;
    width: 100%;
    -webkit-appearance: none;
    background: var(--input-background);
    border: 1px solid var(--input-border);
    padding: 10px 16px;
    line-height: 21px;
    font-size: 14px;
    font-weight: 500;
    color: var(--input-color);
    border-radius: 6px;
    transition: border .3s ease;
    &::placeholder {
        color: var(--input-placeholder);
    }
    &:-webkit-autofill {
        //hacky, thanks chrome devs ...
        -webkit-transition-delay: 99999s;
        -webkit-box-shadow: 0 0 0 100px var(--input-background) inset;
        -webkit-text-fill-color: var(--input-color) !important;
    }
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        opacity: 1;
        color: var(--input-disabled);
        background: var(--input-background-disabled);
        border-color: var(--input-border-disabled);
    }
    &[disabled],
    fieldset[disabled] & {
        cursor: not-allowed;
    }
    &.success {
        border-color: var(--input-border-success);
    }
    &.error {
        border-color: var(--input-border-error);
    }
    &:focus {
        outline: none;
        border-color: var(--input-border-focus);
    }
}

textarea {
    &.form-field {
        resize: vertical;
    }
}

.form-element {
    margin-bottom: 24px;
    label {
        margin-bottom: 8px;
    }
}

form {
    &.horizontal {
        .form-element {
            & > label {
                @include min(sm) {
                    margin-bottom: 0;
                    padding: 10px 0;
                }
            }
            .static {
                margin-bottom: 0;
                @include min(sm) {
                    padding: 10px 0;
                }
            }
        }
        .checkbox:first-child,
        .checkbox.inline,
        .radio:first-child,
        .radio.inline,
        .switch:first-child,
        .switch.inline {
            margin-top: 11px;
        }
    }
}

.checkbox,
.radio,
.switch {
    margin: 0 0 12px 0;
    display: table;
    &.inline {
        margin: 0 12px 0 0;
        display: inline-block;
    }
    input {
        display: none;
        & + span {
            color: var(--toggle-text);
            height: 21px;
            line-height: 21px;
            font-size: 14px;
            font-weight: 500;
            position: relative;
            display: block;
            &:before,
            &:after {
                content: '';
                display: block;
                left: 0;
                top: 0;
                position: absolute;
            }
            &:before {
                height: 21px;
                border: 1px solid var(--toggle-border);
                background: var(--toggle-background);
                transition: background .3s ease, border-color .3s ease;
            }
            &:after {
                transition: transform .3s ease, opacity .2s ease;
            }
        }
        &:checked + span {
            &:before {
                background: var(--toggle-active);
                border-color: var(--toggle-active);
            }
            &:after {
                transition: opacity .3s ease, transform .6s cubic-bezier(.175, .88, .32, 1.2);
            }
        }
    }
    &:hover {
        input {
            &:not(:checked) + span {
                &:before {
                    border-color: var(--toggle-border-hover);
                }
            }
        }
    }
}

.checkbox,
.radio {
    input {
        & + span {
            padding-left: 21px;
            &:not(:empty) {
                padding-left: 29px;
            }
            &:before {
                width: 21px;
            }
            &:after {
                opacity: 0;
            }
        }
        &:checked + span {
            &:after {
                opacity: 1;
            }
        }
    }
}

.checkbox {
    input {
        & + span {
            &:before {
                border-radius: 6px;
            }
            &:after {
                width: 5px;
                height: 9px;
                border: 2px solid var(--toggle-active-element);
                border-top: 0;
                border-left: 0;
                left: 8px;
                top: 5px;
                transform: rotate(20deg);
            }
        }
        &:checked + span {
            &:after {
                transform: rotate(43deg);
            }
        }
        &:indeterminate + span {
            &:before {
                background: var(--toggle-active);
                border-color: var(--toggle-active);
            }
            &:after {
                width: 11px;
                left: 5px;
                height: 3px;
                border-radius: 2px;
                top: 9px;
                background: var(--toggle-active-element);
                border: 0;
                opacity: 1;
                transform: rotate(0deg) scaleY(.7);
                transition: opacity .3s ease;
            }
            &:hover {
                &:before {
                    border-color: var(--toggle-active);
                }
            }
        }
    }
}

.radio {
    input {
        & + span {
            &:before,
            &:after {
                border-radius: 50%;
            }
            &:after {
                width: 21px;
                height: 21px;
                background: var(--toggle-active-element);
                opacity: 0;
                transform: scale(.6);
            }
        }
        &:checked + span {
            &:after {
                background: var(--toggle-active-element);
                transform: scale(.4);
            }
        }
    }
}

.switch {
    input {
        & + span {
            padding-left: 38px;
            &:not(:empty) {
                padding-left: 46px;
            }
            &:before {
                width: 38px;
                border-radius: 11px;
            }
            &:after {
                left: 3px;
                top: 3px;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background: var(--toggle-border);
            }
        }
        &:checked + span {
            &:after {
                background: var(--toggle-active-element);
                transform: translateX(18px) scale(.8);
            }
        }
    }
}
