:root {
    --h1: var(--light-5);
    --h2: var(--light-5);
    --h3: var(--light-5);
    --h4: var(--light-5);
    --label: var(--light-5);
    --caption: var(--text-muted);
}

.light {
    --h1: var(--light-1);
    --h2: var(--light-1);
    --h3: var(--light-1);
    --h4: var(--light-1);
    --label: var(--light-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    line-height: 1.32;
    margin: 0;
}

h1 {
    color: var(--h1);
    font-weight: 700;
    @include responsive-size(floor(28px * .8), 28px);
    &.hero {
        @include responsive-size(floor(36px * .8), 36px);
    }
}

h2 {
    color: var(--h2);
    font-weight: 600;
    @include responsive-size(floor(24px * .8), 24px);
}

h3 {
    color: var(--h3);
    font-weight: 700;
    @include responsive-size(floor(20px * .8), 20px);
}

h4 {
    color: var(--h4);
    font-weight: 600;
    @include responsive-size(floor(18px * .8), 18px);
}

label {
    color: var(--label);
    font-weight: 500;
    display: block;
}

.caption {
    color: var(--caption);
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1.6;
}

small {
    font-size: 14px;
    line-height: 1.42;
    &.smaller {
        font-size: 11px;
    }
}
