@import 'gear';

body {
    background: $light;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 6;
    background: #fff;
    width: $sidebarWidth;
    @include shadow('lg');
    @include transition(all, .3s, ease, .1s);
    & > .inner {
        overflow-y: scroll;
        overflow-x: hidden;
        right: -20px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        & > .wrap {
            padding: 0 20px 50px 20px;
            position: relative;
            min-height: 100vh;
            width: $sidebarWidth;
            @include transition(width, .3s, ease, .1s);
            @media(max-width: 768px) {
                width: $sidebarWidth - 30;
                padding: 0 15px 50px 15px;
            }
        }
    }
    .version {
        bottom: 20px;
        padding: 0 10px;
        position: absolute;
        left: 50%;
        display: block;
        font-size: 11px;
        color: #fff;
        font-weight: 600;
        white-space: nowrap;
        text-shadow: 0 0 2px rgba($dark, .20);
        background: $border;
        @include round(3px);
        @include translate(-50%, 0);
    }
    .logo {
        height: 90px * 2;
        position: relative;
        @include transition(height, .2s);
        a {
            display: table;
            position: absolute;
            left: 50%;
            top: 50%;
            @include translate(-50%, -50%);
            svg {
                display: block;
                width: 76px;
                height: 76px;
                @include transition();
                .primary {
                    fill: $primary;
                }
                .gear {
                    fill: #fff;
                }
                .path1 {
                    animation: rotate 40s cubic-bezier(.31,.45,.71,.54) infinite;
                    transform-origin: 50% 50%;
                }
                .path2 {
                    animation: rotate 40s cubic-bezier(.33,.4,.66,.6) infinite;
                    transform-origin: 50% 50%;
                }
                .path3 {
                    animation: rotate 40s cubic-bezier(.33,.4,.71,.55) infinite;
                    transform-origin: 50% 50%;
                }
                .path4 {
                    animation: rotate 40s cubic-bezier(.28,.46,.63,.58) infinite;
                    transform-origin: 50% 50%;
                }
            }
        }
        @media(max-width: 992px) {
            height: 70px * 2;
        }
    }
    nav {
        & > ul {
            & > li {
                margin: 0 0 10px 0;
                position: relative;
                &:last-child {
                    margin-bottom: 0;
                }
                & > a {
                    position: relative;
                    display: block;
                    line-height: 46px;
                    padding: 0 0 0 46px;
                    color: $dark40;
                    @include round(4px);
                    @include transition();
                    i {
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: block;
                        width: 46px;
                        text-align: center;
                        font-size: 18px;
                        &:before {
                            line-height: 46px;
                            display: block;
                        }
                    }
                    & > span {
                        @include transition(opacity, .3s);
                    }
                    &:hover {
                        color: $dark80;
                    }
                }
                & > span {
                    position: absolute;
                    z-index: 1;
                    cursor: pointer;
                    right: 0;
                    top: 0;
                    display: block;
                    width: 46px;
                    text-align: center;
                    font-size: 18px;
                    color: $dark25;
                    @include user-select();
                    @include transition();
                    &:before {
                        content: 'T';
                        font-family: 'dripicons-v2';
                        line-height: 46px;
                        display: block;
                    }
                    &:hover {
                        color: $dark60;
                    }
                }
                &.active {
                    & > span {
                        color: #fff;
                        opacity: .4;
                        &:hover {
                            opacity: 1;
                        }
                    }
                    & > a {
                        color: #fff;
                        background: $primary;
                    }
                }
                &.drop {
                    & > span {
                        &:before {
                            content: 'W';
                        }
                    }
                }
                ul {
                    margin: 5px 0 0 0;
                    font-size: 14px;
                    padding: 8px 0;
                    background: $light;
                    display: none;
                    @include round(4px);
                    li {
                        margin: 4px 0;
                        a {
                            position: relative;
                            padding: 0 0 0 46px;
                            color: $dark40;
                            @include transition(color);
                            &:before {
                                content: '';
                                display: block;
                                top: 50%;
                                left: 20px;
                                width: 6px;
                                height: 6px;
                                margin: -3px 0 0 0;
                                position: absolute;
                                background: $dark25;
                                @include round();
                            }
                            &:hover {
                                color: $dark80;
                            }
                        }
                        &.active {
                            a {
                                color: $dark80;
                                &:before {
                                    background: $primary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.small {
        @media(min-width: 993px) {
            width: $sidebarWidthSmall;
            & > .inner {
                & > .wrap {
                    width: $sidebarWidthSmall;
                    @include transition(width);
                }
            }
            .logo {
                height: 54px * 2;
                a {
                    svg {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
            nav {
                & > ul {
                    & > li {
                        & > a {
                            padding: 0;
                            i {
                                width: 100%;
                            }
                            & > span {
                                opacity: 0;
                                visibility: hidden;
                            }
                        }
                        & > span {
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
    &.open {
        @include translate(0, 0);
    }
    @media(max-width: 992px) {
        @include translate(-100%, 0);
    }
    @media(max-width: 768px) {
        width: $sidebarWidth - 30;
    }
}

#head {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    left: $sidebarWidth;
    background: $primary;
    padding: 25px $space-h;
    @include transition(left, .3s, ease, .1s);
    @include clear-after();
    &.dark {
        background: $dark;
        nav {
            ul {
                li {
                    &.active {
                        a {
                            color: $dark;
                        }
                    }
                }
            }
        }
    }
    svg {
        margin: 0 20px 0 0;
        display: none;
        width: 40px;
        height: 40px;
        float: left;
        @include transition();
        .primary {
            fill: #fff;
        }
        .gear {
            fill: $primary;
        }
        @media(max-width: 992px) {
            display: block;
        }
    }
    .switch {
        margin: 0 30px 0 0;
        cursor: pointer;
        float: left;
        font-size: 18px;
        color: #fff;
        text-align: center;
        background: rgba(#fff, .15);
        padding: ($space-sm-v + 3);
        @include transition(background);
        @include round();
        &:before {
            content: 'U';
            font-family: 'dripicons-v2';
            display: block;
            min-width: $line-height;
            line-height: $line-height;
        }
        &:hover {
            background: rgba(#fff, .25);
        }
        &.small {
            &:before {
                content: 'V';
            }
        }
        @media(max-width: 992px) {
            display: none;
        }
    }
    .sub {
        float: left;
        ul {
            li {
                float: left;
                a {
                    display: block;
                    color: #fff;
                    font-size: 14px;
                    padding: ($space-sm-v + 3) ($space-sm-h + 3);
                    opacity: .5;
                    @include transition(opacity);
                    @include round(20px);
                }
                &.active {
                    a {
                        background: #fff;
                        color: $primary;
                        opacity: 1;
                    }
                }
                &:hover {
                    a {
                        opacity: 1;
                    }
                }
            }
        }
        @media(max-width: 768px) {
            display: none;
        }
    }
    .toolbar {
        float: right;
        margin: 0 15px 0 0;
        ul {
            @include clear-after();
            li {
                float: left;
                margin: 0 15px 0 0;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    display: block;
                    font-size: 18px;
                    color: #fff;
                    text-align: center;
                    background: rgba(#fff, .15);
                    padding: ($space-sm-v + 3);
                    @include transition(background);
                    @include round();
                    &:before {
                        display: block;
                        min-width: $line-height;
                        line-height: $line-height;
                    }
                    &:hover {
                        background: rgba(#fff, .25);
                    }
                }
                &.menu {
                    display: none;
                }
                &.message {
                    left: 50%;
                    top: 25px;
                    position: absolute;
                    @include translate(-50%, 0);
                    a {
                        & > div {
                            margin: 10px 0 0 0;
                            position: absolute;
                            display: none;
                            background: #fff;
                            padding: 20px;
                            top: 100%;
                            left: 50%;
                            @include round(4px);
                            @include shadow('sm');
                            @include translate(-50%, 0);
                            span {
                                display: block;
                                font-size: $font-size;
                                white-space: nowrap;
                                color: $dark40;
                            }
                        }
                    }
                }
                @media(max-width: 992px) {
                    &.menu {
                        display: block;
                    }
                }
                @media(max-width: 768px) {
                    margin: 0 10px 0 0;
                    &.message {
                        position: relative;
                        left: auto;
                        top: auto;
                        @include translate();
                    }
                }
            }
        }
    }
    .user {
        float: right;
        @include clear-after();
        .avatar {
            float: left;
            margin: 0 15px 0 0;
            cursor: pointer;
            width: 38px;
            text-align: center;
            background: #fff;
            color: $dark60;
            font-size: 18px;
            border: 1px solid #fff;
            @include round();
            &:before {
                content: 'ÓÅñ';
                font-family: 'dripicons-v2';
                display: block;
                line-height: 38px;
            }
            @media(max-width: 768px) {
                margin: 0;
            }
        }
        span {
            float: left;
            display: block;
            margin: 0 15px 0 0;
            line-height: 40px;
            color: #fff;
            @media(max-width: 768px) {
                display: none;
            }
        }
        .logout {
            float: left;
            display: block;
            color: #fff;
            font-size: 18px;
            opacity: .5;
            @include transition(opacity);
            &:before {
                content: '=';
                font-family: 'dripicons-v2';
                display: block;
                line-height: 40px;
            }
            &:hover {
                opacity: 1;
            }
            @media(max-width: 768px) {
                display: none;
            }
        }
    }
    &.small {
        @media(min-width: 993px) {
            left: $sidebarWidthSmall;
        }
    }
    @media(max-width: 992px) {
        left: 0;
    }
    @media(max-width: 768px) {
        padding: 20px 15px;
    }
}

#content {
    padding: (90px + 30) 30px 30px ($sidebarWidth + 30);
    @include transition(padding, .3s, ease, .1s);
    header {
        background: #fff;
        padding: 15px 20px;
        margin: 0 0 30px 0;
        @include clear-after();
        @include round(4px);
        @include shadow();
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            float: left;
            @include clear-after();
            li {
                display: block;
                float: left;
                @include clear-after();
                h2 {
                    color: $dark25;
                    &:after {
                        content: '/';
                        display: block;
                        float: right;
                        margin: 0 10px;
                    }
                    a {
                        color: $dark25;
                        display: inline-block;
                    }
                }
                h1,
                h2 {
                    font-weight: 400;
                    float: left;
                    margin: 0;
                    font-size: 21px;
                    line-height: 46px;
                    @media(max-width: 520px) {
                        line-height: 32px;
                    }
                }
                h1 {
                    font-weight: 500;
                }
            }
            @media(max-width: 520px) {
                float: none;
            }
        }
        nav {
            float: right;
            ul {
                li {
                    margin: 0 10px 0 0;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            @media(max-width: 520px) {
                float: none;
                margin: 10px 0 0 0;
            }
        }
        @media(max-width: 768px) {
            padding: 15px 10px;
            margin: 0 0 15px 0;
        }
    }
    &.small {
        @media(min-width: 993px) {
            padding: (90px + 30) 30px 30px ($sidebarWidthSmall + 30);
        }
    }
    @media(max-width: 992px) {
        padding: (90px + 30) 30px 30px 30px;
    }
    @media(max-width: 768px) {
        padding: (80px + 15) 15px 20px 15px;
    }
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba($dark, .7);
    display: none;
    z-index: 5;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
