@mixin box-sizing($value: border-box) {
    -webkit-box-sizing: $value;
    box-sizing: $value;
}

@mixin user-select($value: none) {
    -webkit-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
    user-select: $value;
}

@mixin filter($args) {
    -webkit-filter: $args;
    -moz-filter: $args;
    -o-filter: $args;
    -ms-filter: $args;
    filter: $args;
}

@mixin clear {
    &:after {
        content: '';
        clear: both;
        display: block;
    }
}
