
// Variables

@import '../../../system/modules/theme/styles/vars';

// Mixins

@import '../../../system/modules/theme/styles/mixins/color';
@import '../../../system/modules/theme/styles/mixins/grid';
@import '../../../system/modules/theme/styles/mixins/responsive';
@import '../../../system/modules/theme/styles/mixins/utils';

.login {
    width: 90%;
    max-width: 340px;
    padding: 36px 28px 28px 28px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 16px -3px rgba($dark, .1);
    & > .messages {
        top: auto;
        bottom: 100%;
        opacity: 0;
        visibility: hidden;
        @include translate(-50%, -12px);
        @include transition;
        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
    .logo {
        display: table;
        margin: 0 auto 36px auto;
        img {
            display: block;
            width: 64px;
        }
    }
    .form-field {
        margin: 0 0 20px 0;
    }
    button {
        width: 100%;
    }
    .remember {
        display: table;
        margin: 20px auto 0 auto;
    }
}
