
// Mixins

@import '../../../system/modules/theme/styles/mixins/responsive';
@import '../../../system/modules/theme/styles/mixins/utils';

.login {
    width: 260px;
    & > .messages {
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
    .logo {
        display: table;
        margin: 0 auto 36px auto;
        svg {
            display: block;
            width: 44px;
            height: 44px;
            fill: url(#primaryGradient);
        }
    }
    .form-field {
        margin: 0 0 20px 0;
    }
    button {
        width: 100%;
    }
    .remember {
        .checkbox {
            margin-bottom: 20px;
        }
    }
}
