
// Mixins

@import '../../../system/modules/theme/styles/mixins/responsive';
@import '../../../system/modules/theme/styles/mixins/utils';

.login {
    width: 260px;
    .logo {
        display: table;
        margin: 0 auto 36px auto;
        svg {
            display: block;
            width: 44px;
            height: 44px;
            fill: url(#primaryGradient);
        }
    }
}
