@import 'variables';
@import 'framy/framy';

@import 'elements/messages';
@import 'elements/tooltip';
@import 'elements/forms';
@import 'elements/login';
@import 'elements/left';
@import 'elements/header';
@import 'elements/main';
@import 'elements/modal';
@import 'elements/aside';
@import 'elements/charts';
@import 'elements/tables';
@import 'elements/calendar';
@import 'elements/logs';
@import 'elements/lists';
@import 'elements/permissions';

body {
    &.fix {
        overflow: hidden;
    }
    background: #f7f9fc;
}

input {
    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
}

h3 {
    margin: 0 0 15px 0;
    line-height: 36px;
}

#overlay {
    background: fade(@light, 75%);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}
