@import 'variables';
@import 'framy/framy';

@import 'elements/messages';
@import 'elements/login';
@import 'elements/header';
@import 'elements/main';
@import 'elements/modal';
@import 'elements/tabs';

body {
    &.fix {
        overflow: hidden;
    }
    background: @light;
}

#overlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}
