.statistics {
    .ct-chart-line {
        display: block;
    }
    .ct-area {
        fill: @primary !important;
    }
    .ct-point,
    .ct-line {
        stroke: @primary !important;
    }
    .ct-label {
        color: @text;
    }
}

.chartist-tooltip {
    &.tooltip-show {
        display: block;
    }
    position: absolute;
    display: inline-block;
    padding: 5px 10px;
    background: @dark;
    color: #fff;
    pointer-events: none;
    z-index: 1;
    display: none;
    .box-shadow(0, 3px, 9px, fade(@dark, 20%));
    .round();
}

.ct-area,
.ct-line {
    pointer-events: none;
}
