#upload {
    .drop {
        i {
            font-size: 60px;
            position: absolute;
            left: 50%;
            top: 20%;
            color: @text-light;
            .translate(-50%, 0);
        }
        input {
            visibility: hidden;
            position: absolute;
        }
        label {
            position: absolute;
            left: 50%;
            bottom: 20%;
            white-space: nowrap;
            .translate(-50%, 0);
        }
        position: relative;
        height: 200px;
        background: @light;
    }
    ul {
        li {

        }
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
