#head {
    & > nav {
        ul {
            &:after {
                content: "";
                display: block;
                clear: both;
            }
            li {
                &:last-child {
                    margin-right: 0;
                }
                &.active {
                    a {
                        &:hover {
                            color: @text-dark;
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -1px;
                            height: 3px;
                            background: @primary;
                        }
                        color: @text;
                    }
                }
                a {
                    &:hover {
                        color: @text;
                    }
                    position: relative;
                    color: @text-light;
                    display: block;
                    padding: 15px 12px 9px 12px;
                    @media(max-width: @screen-sm-min * 1px) {
                        padding: 13px 8px 7px 8px;
                    }
                }
                margin: 0 12px 0 0;
                float: left;
                @media(max-width: @screen-sm-min * 1px) {
                    margin: 0 8px 0 0;
                }
            }
            border-bottom: 1px solid @border;
        }
        padding: 0 50px;
        background: #fff;
        @media(max-width: @screen-lg-min * 1px) {
            padding: 0 35px;
        }
        @media(max-width: @screen-sm-min * 1px) {
            padding: 0 15px;
        }
    }
    .content {
        h1 {
            & > .icon {
                &.delete {
                    &:hover {
                        color: @error;
                    }
                }
                &:before {
                    font-size: 24px;
                    vertical-align: top;
                }
                line-height: 36px;
                display: inline-block;
                vertical-align: top;
                width: 30px;
                text-align: center;
                color: @text-light;
                margin: 0 0 0 10px;
            }
            float: left;
            line-height: 36px;
            margin: 0;
            font-size: 21px;
            @media(max-width: @screen-sm-min * 1px) {
                font-size: 16px;
            }
        }
        h2 {
            &:after {
                content: "/";
                margin: 0 0 0 10px;
            }
            a {
                &:hover {
                    color: @text;
                }
                color: @text-light;
                display: inline-block;
                margin: 0;
            }
            color: @text-light;
            float: left;
            line-height: 36px;
            margin: 0 10px 0 0;
            font-size: 21px;
            @media(max-width: @screen-sm-min * 1px) {
                font-size: 16px;
            }
        }
        nav {
            ul {
                li {
                    &:last-child {
                        margin-right: 0;
                    }
                    margin: 0 15px 0 0;
                    float: left;
                }
            }
            float: right;
            @media(max-width: @screen-sm-min * 1px) {
                display: none;
            }
        }
        .search {
            &:before {
                content: @ionicon-var-ios-search;
                font-family: @ionicons-font-family;
                line-height: 36px;
                position: absolute;
                top: 0;
                left: 1px;
                width: 50px;
                text-align: center;
                font-size: 24px;
            }
            input {
                &:focus {
                    outline: none;
                }
                background: none;
                border: 0;
                padding: 0 0 0 56px;
                line-height: 36px;
                color: @text;
                position: relative;
                width: 150px;
                z-index: 1;
                @media(max-width: @screen-sm-min * 1px) {
                    width: 100px;
                }
            }
            &:after {
                content: "";
                display: block;
                left: 0;
                top: 4px;
                height: 28px;
                width: 1px;
                background: @border;
                position: absolute;
            }
            position: relative;
            float: left;
            margin: 0 0 0 20px;
        }
        background: #fff;
    	.box-shadow(0, 4px, 10px, fade(@dark, 5%));
        padding: 20px 50px 20px 75px;
        @media(max-width: @screen-lg-min * 1px) {
            padding: 20px 35px 20px 60px;
        }
        @media(max-width: @screen-md-min * 1px) {
            padding-left: 85px;
            padding-right: 75px;
        }
        @media(max-width: @screen-sm-min * 1px) {
            padding-left: 60px;
            padding-right: 15px;
        }
    }
    &.small {
        @media(min-width: (@screen-md-min + 1) * 1px) {
            left: 86px;
        }
    }
    position: fixed;
    left: 250px;
    top: 0;
    right: 0;
    z-index: 99;
    .transition(0.2s);
    @media(max-width: @screen-md-min * 1px) {
        left: 0;
    }
}

#expand {
    &.active {
        color: #fff;
    }
    .icon {
        &:before {
            line-height: 36px;
            font-size: 32px;
        }
    }
    cursor: pointer;
    color: @text-dark;
    position: fixed;
    display: none;
    width: 40px;
    text-align: center;
    right: 30px;
    top: 65px;
    z-index: 101;
    .transition();
    @media(max-width: @screen-md-min * 1px) {
        display: block;
    }
    @media(max-width: @screen-sm-min * 1px) {
        top: 61px;
        right: 15px;
    }
}

#switch {
    &.small {
        .icon {
            &:before {
                content: @ionicon-var-chevron-right;
            }
        }
        left: 121px;
        @media(max-width: @screen-lg-min * 1px) {
            left: 106px;
        }
    }
    &:hover {
        color: @text;
    }
    .icon {
        &:before {
            line-height: 36px;
            font-size: 21px;
        }
    }
    cursor: pointer;
    color: @text-light;
    position: fixed;
    width: 42px;
    text-align: center;
    left: 285px;
    top: 65px;
    z-index: 101;
    .transition();
    @media(max-width: @screen-lg-min * 1px) {
        left: 270px;
    }
    @media(max-width: @screen-md-min * 1px) {
        display: none;
    }
}

#logo {
    img {
        display: block;
        height: 36px;
    }
    position: fixed;
    left: 35px;
    top: 65px;
    z-index: 100;
    display: none;
    .transition();
    @media(max-width: @screen-md-min * 1px) {
        display: block;
    }
    @media(max-width: @screen-sm-min * 1px) {
        top: 61px;
        left: 15px;
    }
}

#messages {
    .animated {
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
    }
    position: fixed;
    top: 65px;
    left: 50%;
    z-index: 110;
    margin-left: 125px;
    .translate(-50%, 0);
    @media(max-width: @screen-md-min * 1px) {
        margin-left: 0;
    }
    @media(max-width: @screen-sm-min * 1px) {
        left: 20px;
        right: 20px;
        top: 61px;
        .translate(0, 0);
    }
}
