#login {
    .form {
        .logo {
            img {
                display: block;
                width: 130px;
                -webkit-filter: drop-shadow(0 4px 12px fade(@dark, 20%));
                filter: drop-shadow(0 4px 12px fade(@dark, 20%));
            }
            display: table;
            margin: 0 auto 50px auto;
        }
        .content {
            #messages {
                .animated {
                    -webkit-animation-duration: 0.4s;
                    animation-duration: 0.4s;
                }
                bottom: 100%;
                left: 50%;
                position: absolute;
                .translate(-50%, 0);
            }
            position: relative;
        }
        .action {
            button {
                float: right;
            }
            .remember {
                padding: 9px 0 0 0;
                float: left;
                color: @text-light;
            }
        }
    }
    max-width: 310px;
    width: 100%;
    margin: 10% auto 0 auto;
    display: table;
}
