main {
    & > .buttons {
        ul {
            li {
                &:last-child {
                    margin-right: 0;
                }
                a {
                    margin: 0 0 5px 0;
                }
                float: left;
                margin: 0 10px 0 0;
            }
            margin: 0 0 15px 0;
            float: right;
        }
        display: none;
        @media(max-width: @screen-sm-min * 1px) {
            display: block;
        }
    }
    &.small {
        @media(min-width: (@screen-md-min + 1) * 1px) {
            padding-left: 136px;
        }
        @media(max-width: @screen-lg-min * 1px) {
            @media(min-width: (@screen-md-min + 1) * 1px) {
                padding-left: 121px;
            }
        }
    }
    position: relative;
    overflow: hidden;
    padding: 160px 50px 30px 300px;
    .transition(0.2s);
    @media(max-width: @screen-lg-min * 1px) {
        padding-left: 285px;
        padding-right: 35px;
    }
    @media(max-width: @screen-md-min * 1px) {
        padding-left: 35px;
    }
    @media(max-width: @screen-sm-min * 1px) {
        padding: 140px 15px 20px 15px;
    }
}

.box {
    background: #fff;
    padding: 30px;
    position: relative;
    margin: 0 0 30px 0;
    .round();
    .box-shadow(0, 4px, 10px, fade(@dark, 5%));
    @media(max-width: @screen-sm-min * 1px) {
        padding: 20px;
    }
}

.box.action {
    h3 {
        margin-bottom: 0;
        padding-bottom: 5px;
    }
    a {
        &:hover {
            color: @text-dark;
        }
        svg {
            & > * {
                stroke: @text;
                fill: @text;
            }
            .primary {
                stroke: @primary;
            }
            position: absolute;
            display: block;
            top: 50%;
            left: 20px;
            width: 32px;
            height: 32px;
            .translate(0, -50%);
        }
        color: @text;
        background: @light;
        height: 70px;
        line-height: 70px;
        margin-top: 15px;
        display: block;
        position: relative;
        padding-left: 67px;
        .round();
    }
}

a.delete {
    div {
        .confirm,
        .abort {
            &:before {
                line-height: 32px;
            }
            vertical-align: top;
            line-height: 32px;
            position: absolute;
            width: 32px;
            height: 32px;
            margin: 0;
            font-size: 21px !important;
            top: 4px;
            text-align: center;
            .round();
        }
        .confirm {
            color: #fff;
            background: @error;
            left: 4px;
        }
        .abort {
            color: @text;
            right: 4px;
        }
        width: 76px;
        height: 40px;
        top: 50%;
        left: 50%;
        background: #fff;
        position: absolute;
        z-index: 5;
        margin: -20px 0 0 -38px;
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        .round();
        .box-shadow(0, 3px, 9px, fade(@dark, 10%));
    }
    z-index: 5;
    position: relative;
}

.button {
    cursor: pointer;
}

.breadcrumb {
    li {
        &:last-child {
            &:after {
                display: none;
            }
            a {
                color: @text;
            }
        }
        &:after {
            display: inline-block;
            content: "/";
            margin: 0 8px;
        }
        a {
            cursor: pointer;
            color: @text-light;
            text-transform:  uppercase;
        }
        font-size: 12px;
        display: inline-block;
    }
    margin: 0 0 20px 0;
    padding: 0;
    list-style:  none;
}

.pagination {
    a {
        &:before {
            display: block;
            line-height: 25px;
            vertical-align: top;
            font-size: 14px;
        }
        float: left;
        display: block;
        width: 25px;
        text-align: center;
        cursor: pointer;
        color: #fff;
        background: @primary;
        .round(3px);
    }
    div {
        padding: 0 12px;
        float: left;
        line-height: 25px;
    }
    margin: 15px 0 0 0;
}

.toolbar {
    .pagination {
        float: right;
    }
    border-top: 1px solid @border;
    margin-bottom: (@line-height-computed / 2);
}
