main {
    header {
        &:after {
            content: "";
            display: block;
            clear: both;
        }
        h2 {
            font-weight: 300;
            line-height: 36px;
            margin: 0;
            float: left;
        }
        .search {
            &:before {
                content: @ionicon-var-ios-search;
                font-family: @ionicons-font-family;
                line-height: 36px;
                position: absolute;
                top: 0;
                left: 1px;
                width: 56px;
                text-align: center;
                font-size: 2em;
            }
            input {
            	&:focus {
            		outline: none;
            	}
                background: none;
                border: 0;
                padding: 0 0 0 56px;
                line-height: 36px;
                color: @text;
            }
            border-left: 1px solid @border;
            position: relative;
            float: left;
            margin: 0 0 0 30px;
        }
        nav {
            ul {
                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }
                li {
                    &:last-child {
                        margin-right: 0;
                    }
                    float: left;
                    margin-right: 15px;
                }
            }
            float: right;
        }
        margin-bottom: 40px;
        @media(max-height: 800px), (max-width: 1180px) {
            margin-bottom: 25px;
        }
    }
}

.button {
    &.noText {
        .icon {
            left: 0;
            bottom: -2px;
        }
    }
}

table.table {
    thead {
        th {
            &.active {
                a {
                    &.asc,
                    &.dsc {
                        &:after {
                            font-family: @ionicons-font-family;
                            display: block;
                            line-height: @checkbox-size;
                            top: 0;
                            left: 100%;
                            position: absolute;
                            font-size: 1.25em;
                            margin: 0 0 0 5px;
                        }
                    }
                    &.asc {
                        &:after {
                            content: @ionicon-var-ios-arrow-thin-up;
                        }
                    }
                    &.dsc {
                        &:after {
                            content: @ionicon-var-ios-arrow-thin-down;
                        }
                    }
                    display: table;
                    position: relative;
                    color: @text;
                }
            }
            a {
                color: @text-light;
                cursor: pointer;
            }
            color: @text-light;
            line-height: @checkbox-size;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: normal;
        }
    }
    .check {
        .checkbox {
            label {
                &:before {
                    background: none;
                }
            }
            margin-bottom: 0;
        }
        font-weight: normal;
        width: @checkbox-size;
    }
}
