#modal {
    .inner {
        header {
            h3 {
                margin: 0;
                padding: 0;
                @media(max-width: @screen-sm-min * 1px) {
                    font-size: 21px;
                }
            }
            .close {
                i {
                    font-size: 1em;
                    color: @text-light;
                }
                cursor: pointer;
                position: absolute;
                right: 40px;
                top: 50%;
                .translate(0, -50%);
            }
            position: relative;
            padding: 0 40px;
            margin: 0;
            @media(max-width: @screen-sm-min * 1px) {
                padding: 0 20px;
            }
        }
        .content {
            padding: 30px 40px 40px 40px;
            @media(max-width: @screen-sm-min * 1px) {
                padding: 20px 25px 25px 25px;
            }
        }
        padding: 40px 0 0 0;
        background: #fff;
        .box-shadow(0, 5px, 20px, fade(@dark, 70%));
        @media(max-width: @screen-sm-min * 1px) {
            padding: 25px 0 0 0;
        }
    }
    max-width: 420px;
    position: fixed;
    left: 20px;
    right: 20px;
    margin: auto;
    top: 10%;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    z-index: 101;
}
