#modal {
    .inner {
        header {
            h3 {
                margin: 0;
            }
            .close {
                i {
                    font-size: 1em;
                    color: @text-light;
                }
                cursor: pointer;
                position: absolute;
                right: 40px;
                top: 50%;
                .translate(0, -50%);
            }
            position: relative;
            padding: 0 40px;
            margin: 0;
        }
        .content {
            padding: 30px 40px 40px 40px;
        }
        footer {
            border-top: 1px solid @border;
            padding: 20px 40px;
        }
        padding: 40px 0 0 0;
        background: #fff;
        .box-shadow(0, 0, 20px, 0.2);
    }
    width: 420px;
    position: fixed;
    left: 20px;
    right: 20px;
    margin: auto;
    top: 10%;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    z-index: 101;
}
