.tabs {
    ul {
        li {
            a {
                &.active {
                    color: @text;
                }
                color: @text-light;
                display: block;
                padding: @padding-sm-v @padding-sm-h;
            }
        }
    }
    margin: 0 0 30px 0;
}
