:root {
    --body-text: var(--text);
    --body-background: var(--dark-3);

    --link: var(--primary);
    --link-hover: var(--primary-hover);

    --hr-border: var(--border);
}

.light {
    --body-text: var(--light-2);

    --hr-border: var(--light-4);
}

@import url('https://fonts.googleapis.com/css?family=Encode+Sans:400,500,600,700');

html,
body {
    @include max(md) {
        &.openSide {
            overflow: hidden;
        }
    }
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    font-family: 'Encode Sans', sans-serif;
    font-size: 16px;
    line-height: 23px;
    color: var(--body-text);
    background: var(--body-background);
}

a {
    text-decoration: none;
    color: var(--link);
    transition: color .3s ease;
    &:hover,
    &:focus {
        text-decoration: none;
        color: var(--link-hover);
    }
}

input,
button,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

hr {
    height: 0;
    border: 0;
    border-top: 1px solid var(--hr-border);
    margin-top: 24px;
    margin-bottom: 24px;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 24px;
    ul,
    ol {
        margin-bottom: 0;
    }
    &.unstyled {
        padding-left: 0;
        list-style: none;
    }
    &.inline {
        padding-left: 0;
        list-style: none;
        margin-left: -5px;
        & > li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

p {
    margin: 0 0 24px 0;
}

nav {
    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
}
