
:root {

    --primary: #5628EE;
    --primary-light: #8C6FF0;
    --secondary: #23C4F8;

    --dark-1: #121621;
    --dark-2: #151924;
    --dark-3: #171C28;
    --dark-4: #1C212E;
    --dark-5: #242836;
    --dark-6: #2F3545;

    --light-1: #3F4656;
    --light-2: #6C7486;
    --light-3: #99A3BA;
    --light-4: #CDD9ED;
    --light-5: #E4ECFA;
    --light-6: #F5F9FF;
    --light-7: #ffffff;

    --success: #3FDC75;
    --warning: #F6D87C;
    --error: #D93757;

    --text: var(--light-3);
    --text-muted: var(--light-1);

    --border: var(--dark-6);
    --border-focus: var(--secondary);
    --border-disabled: var(--dark-5);

    --gradient: linear-gradient(135deg, var(--primary) 0%, var(--primary-light) 100%);

}
