
// Variables

@import 'colors';

// Mixins

@import 'mixins/responsive';
@import 'mixins/utils';

// Base

@import 'base/reset';
@import 'base/base';

// Components

@import 'components/typography';
@import 'components/grid';
@import 'components/forms';
//@import 'components/buttons';
@import 'components/helper';

// Blocks

@import 'blocks/sidebar';
@import 'blocks/main';

body {
    background: var(--dark-3);
}

#gear {
    width: 100%;
    min-height: 100vh;
    position: relative;
    &.interface {
        padding-left: var(--sidebar-width);
    }
    &.center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
