
// Colors

$primary: #5F95FC;
$secondary: #80B1FF;

$dark: #2E3243;
$gray: #888EA0;
$grayLight: #A8AFC4;
$light: #F0F3F8;
$snow: #FAFAFC;

$shadow: adjust-color($dark, $blue: 20);

$border: #E4E7F2;

$success: #70E3A4;
$error: #F66E81;
$warning: #FCDA73;
$info: $secondary;

// Base

$iconFontImport: true;
$iconFontUrl: '../fonts/icons.css';

$fontImport: true;
$fontUrl: 'https://rsms.me/inter/inter-ui.css';
$fontFamily: 'Inter UI', sans-serif;

$fontSize: 16px;
$lineHeight: 26px;
$textColor: $gray;
$textColorLight: $grayLight;

$linkColor: $primary;
$linkDecoration: none;
$linkHoverColor: $primary;
$linkHoverDecoration: none;

$borderRadius: 4px;
$borderSmRadius: 3px;
$borderLgRadius: 5px;

$marginBottom: 20px;

// Typography

$headingsFontFamily: inherit;
$headingsLineHeight: 1.28;

$headingsH1Color: $dark;
$headingsH2Color: $dark;
$headingsH3Color: $dark;
$headingsH4Color: $dark;

$headingsH1Weight: 500;
$headingsH2Weight: 500;
$headingsH3Weight: 500;
$headingsH4Weight: 500;

$headingsH1Size: 24px;
$headingsH2Size: 24px;
$headingsH3Size: 21px;
$headingsH4Size: 21px;

// Grid

$columns: 12;
$gapWidth: 32px;

$breakpointXs: 480px;
$breakpointSm: 768px;
$breakpointMd: 992px;
$breakpointLg: 1180px;

$containerSm: 730px;
$containerMd: 960px;
$containerLg: 1160px;

// Buttons

$buttonLgRadius: $borderLgRadius;
$buttonRadius: $borderRadius;
$buttonSmRadius: $borderSmRadius;

$buttonHoverTransform: none;
$buttonClickTransform: scale(.99);

$buttonFontWeight: 500;

$buttonPaddingV: 8px;
$buttonPaddingH: 24px;
$buttonPaddingSmV: 4px;
$buttonPaddingSmH: 20px;
$buttonPaddingLgV: 12px;
$buttonPaddingLgH: 28px;

// Forms

$labelColor: $textColor;
$labelWeight: normal;
$labelBottom: 4px;

$formDisabled: $light;
$formBorder: $border;
$formBorderFocus: darken($border, 12%);
$formFocus: $secondary;
$formFocusColor: #fff;
$formElementBottom: $marginBottom;
$formOverrideAutofillWebkit: true;

$inputText: $textColor;
$inputTextPlaceholder: $textColor;
$inputBackground: #fff;
$inputRadius: $borderRadius;

$inputFileColor: $gray;
$inputFileColorActive: $dark;
$inputFileButtonBackground: $border;
$inputFileButtonColor: #fff;

$inputPaddingV: 8px;
$inputPaddingH: 12px;

$switchSize: 20px;
$switchBorder: $formBorder;
$switchBorderActive: $primary;
$switchActive: $secondary;
$switchBackground: $switchBorder;
$switchDot: #fff;
$switchDisabled: $formDisabled;
$switchRadius: $switchSize / 2;

$checkboxSize: 20px;
$checkboxBorder: $formBorder;
$checkboxBorderActive: $primary;
$checkboxActive: $secondary;
$checkboxBackground: $inputBackground;
$checkboxArrow: #fff;
$checkboxDisabled: $formDisabled;
$checkboxRadius: $inputRadius;

$radioSize: 20px;
$radioBorder: $formBorder;
$radioBorderActive: $primary;
$radioActive: $secondary;
$radioBackground: $inputBackground;
$radioDot: #fff;
$radioDisabled: $formDisabled;
$radioRadius: 50%;

// Selects

$selectRadius: $inputRadius;
$selectActive: $secondary;
$selectBorder: $formBorder;
$selectArrowColor: $textColor;
$selectBorderFocus: $formBorderFocus;
$selectBackground: $inputBackground;
$selectDisabled: $formDisabled;
$selectHover: $light;
$selectPaddingV: $inputPaddingV;
$selectPaddingH: $inputPaddingH;

// Paginations

$paginationPadding: 6px;
$paginationRadius: $inputRadius;
$paginationBorder: $formBorder;
$paginationActive: $primary;
$paginationColor: $gray;
$paginationColorHover: $dark;
$paginationActiveColor: #fff;

// Helper

$spaces: (4, 8, 12, 16, 20, 24, 28, 32);

$wrapLinesBorder: $border;
$wrapLinesGutter: 28px;
$wrapLinesMinWidth: 80px;
