
// Colors

$primary: #3E8CF1;
$secondary: #64A7FF;

$darkLighter: #29354A;
$darkLight: #1C2433;
$dark: #171E2A;
$darker: #111821;
$darkBlue: adjust-color($dark, $blue: 8);

$dark90: mix(#fff, $darkBlue, 10%);
$dark80: mix(#fff, $darkBlue, 20%);
$dark60: mix(#fff, $darkBlue, 40%);
$dark40: mix(#fff, $darkBlue, 60%);
$dark25: mix(#fff, $darkBlue, 75%);

$shadow: adjust-color($dark, $blue: 20);

$border: #2A3649;
$borderDark: #1B2432;
$line: #E8EBF4;
$light: #F5F6FA;

$success: #69DD95;
$error: #F26175;
$warning: #F8C93F;
$info: $secondary;

// Base

$iconFontImport: true;
$iconFontUrl: '../fonts/icons.css';

$fontImport: true;
$fontUrl: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700';
$fontFamily: 'Source Sans Pro', sans-serif;

$fontSize: 16px;
$lineHeight: 26px;
$textColor: #64738D;
$textColorDark: #3B4658;
$textColorLight: #E1E9F4;

$linkColor: $primary;
$linkDecoration: none;
$linkHoverColor: $primary;
$linkHoverDecoration: none;

$borderRadius: 4px;
$borderSmRadius: 3px;
$borderLgRadius: 5px;

$marginBottom: 20px;

// Typography

$headingsFontFamily: inherit;
$headingsLineHeight: 1.28;

$headingsH1Color: $textColorLight;
$headingsH2Color: $dark80;
$headingsH3Color: $dark80;
$headingsH4Color: $dark80;

$headingsH1Weight: 400;
$headingsH2Weight: normal;
$headingsH3Weight: bold;
$headingsH4Weight: bold;

$headingsH1Size: 24px;
$headingsH2Size: 24px;
$headingsH3Size: 21px;
$headingsH4Size: 21px;

// Grid

$columns: 12;
$gapWidth: 30px;

$breakpointXs: 480px;
$breakpointSm: 768px;
$breakpointMd: 992px;
$breakpointLg: 1180px;

$containerSm: 730px;
$containerMd: 960px;
$containerLg: 1160px;

// Buttons

$buttonLgRadius: $borderLgRadius;
$buttonRadius: $borderRadius;
$buttonSmRadius: $borderSmRadius;

$buttonHoverTransform: none;
$buttonClickTransform: scale(.99);

$buttonFontWeight: 500;

$buttonPaddingV: 10px;
$buttonPaddingH: 25px;
$buttonPaddingSmV: 5px;
$buttonPaddingSmH: 20px;
$buttonPaddingLgV: 15px;
$buttonPaddingLgH: 30px;

// Forms

$labelColor: $textColor;
$labelWeight: normal;
$labelBottom: 5px;

$formDisabled: $light;
$formBorder: $border;
$formBorderFocus: #374966;
$formFocus: $secondary;
$formFocusColor: #fff;
$formElementBottom: $marginBottom;
$formOverrideAutofillWebkit: true;

$inputText: $textColor;
$inputTextPlaceholder: #3B4658;
$inputBackground: #1A222F;
$inputRadius: $borderRadius;

$inputFileColor: $dark25;
$inputFileColorActive: $dark60;
$inputFileButtonBackground: $border;
$inputFileButtonColor: #fff;

$inputPaddingV: 10px;
$inputPaddingH: 15px;

$switchSize: 22px;
$switchBorder: $formBorder;
$switchBorderActive: $primary;
$switchActive: $secondary;
$switchBackground: $switchBorder;
$switchDot: #fff;
$switchDisabled: $formDisabled;
$switchRadius: $switchSize / 2;

$checkboxSize: 22px;
$checkboxBorder: $formBorder;
$checkboxBorderActive: $primary;
$checkboxActive: $secondary;
$checkboxBackground: $inputBackground;
$checkboxArrow: #fff;
$checkboxDisabled: $formDisabled;
$checkboxRadius: $inputRadius;

$radioSize: 22px;
$radioBorder: $formBorder;
$radioBorderActive: $primary;
$radioActive: $secondary;
$radioBackground: $inputBackground;
$radioDot: #fff;
$radioDisabled: $formDisabled;
$radioRadius: 50%;

// Selects

$selectRadius: $inputRadius;
$selectActive: $secondary;
$selectBorder: $formBorder;
$selectBorderFocus: $formBorderFocus;
$selectBackground: $inputBackground;
$selectDisabled: $formDisabled;
$selectHover: $light;
$selectPaddingV: $inputPaddingV;
$selectPaddingH: $inputPaddingH;

// Paginations

$paginationPadding: 6px;
$paginationRadius: $inputRadius;
$paginationBorder: $formBorder;
$paginationActive: $primary;
$paginationColor: $dark40;
$paginationColorHover: $dark60;
$paginationActiveColor: #fff;

// Helper

$spaces: (5, 10, 15, 20, 25, 30, 35);

$wrapLinesBorder: $border;
$wrapLinesGutter: 30px;
$wrapLinesMinWidth: 80px;
