.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    position: relative;
    white-space: nowrap;
    border: none;
    color: #fff;
    line-height: $line-height;
    padding: $space-v $space-h;
    font-size: $font-size;
    background: $primary;
    @include round(4px);
    @include transition(background);
    .icon {
        position: relative;
        left: -5px;
        font-size: 18px;
        display: inline-block;
        vertical-align: top;
        font-weight: normal;
        &:before {
            display: inline-block;
            vertical-align: top;
            line-height: $line-height;
        }
    }
    &.icon {
        padding: $space-v;
        .icon {
            left: 0;
            display: block;
            min-width: $line-height;
        }
    }
    &.sm {
        font-size: 14px;
        padding: $space-sm-v $space-sm-h;
        &.icon {
            padding: $space-sm-v;
        }
        .icon {
            font-size: 16px;
        }
    }
    &.lg {
        font-size: 18px;
        padding: $space-lg-v $space-lg-h;
        &.icon {
            padding: $space-lg-v;
        }
        .icon {
            font-size: 20px;
        }
    }
    &:hover {
        color: #fff;
        background: darken($primary, 6%);
    }
    &.border {
        background: #fff;
        color: $dark60;
        &:before {
            content: '';
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            z-index: 0;
            border: 1px solid $border;
            @include round(4px);
        }
        &:hover {
            background: $light;
        }
    }
    &.gradient {
        position: relative;
        background: none;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: block;
            z-index: -1;
            @include gradient($primary, $primary-light);
            @include transition(opacity);
            @include round(inherit);
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: block;
            z-index: -2;
            @include gradient(darken($primary, 6%), darken($primary-light, 6%));
            @include round(inherit);
        }
        &:hover {
            &:after {
                opacity: 0;
            }
        }
    }
    &.green {
        background: $success;
        &:hover {
            background: darken($success, 6%);
        }
    }
    &.none {
        background: none;
        &:hover {
            background: none;
        }
    }
}
