.form-field {
    outline: none;
    display: block;
    width: 100%;
    -webkit-appearance: none;
    background: none;
    border: 1px solid $border;
    padding: $space-v ($space-v + 4);
    color: $dark60;
    @include transition();
    @include round(4px);
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        opacity: 1;
        background: $light;
    }
    &[disabled],
    fieldset[disabled] & {
        cursor: not-allowed;
    }
    &.success {
        border-color: $success;
    }
    &.error {
        border-color: $error;
        &.filled {
            background: rgba($error, 0.1);
        }
    }
    &:focus {
        outline: none;
        border-color: $primary;
        &.filled {
            background: none;
        }
    }
    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset !important;
    }
}

.form-element {
    margin-bottom: 34px;
    label {
        margin-bottom: 6px;
        max-width: 100%;
    }
}

.form-group {
    position: relative;
    display: flex;
    width: 100%;
    & > span,
    .form-field,
    .btn {
        white-space: nowrap;
        display: flex;
        align-items: center;
        &:not(:first-child):not(:last-child) {
            @include round(0);
        }
        &:first-child {
            @include round(4px 0 0 4px);
        }
        &:last-child {
            @include round(0 4px 4px 0);
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    .form-field {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
    }
    & > span {
        margin-bottom: 0;
        text-align: center;
        border: 1px solid $border;
        padding: $space-v;
        background: $light;
        @include transition();
    }
    &.focus {
        & > span {
            color: #fff;
            border-color: $primary;
            background: $primary-light;
        }
    }
}

.password {
    position: relative;
    .icon-preview {
        position: absolute;
        z-index: 1;
        display: block;
        width: 32px;
        top: 50%;
        text-align: center;
        cursor: pointer;
        background: #fff;
        padding: 5px;
        font-size: 18px;
        margin: -16px 0 0 0;
        color: $border;
        right: (($space-v + 4) - 5);
        @include user-select();
        &:before {
            line-height: 22px;
            display: block;
        }
        &.active {
            color: $primary;
        }
    }
}

form {
    &.horizontal {
        .form-element {
            & > label {
                @media(min-width: ($screen-sm-min * 1px)) {
                    margin-bottom: 0;
                    padding: $space-v 0;
                }
            }
            .static {
                margin-bottom: 0;
                @media(min-width: ($screen-sm-min * 1px)) {
                    padding: $space-v 0;
                }
            }
        }
        .checkbox:first-child,
        .checkbox.inline,
        .radio:first-child,
        .radio.inline,
        .switch:first-child,
        .switch.inline {
            padding-top: $space-v;
        }
    }
}

@keyframes confetti {
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        @include transform(scale(1));
    }
}

.checkbox,
.radio,
.switch {
    margin: 0;
    &.inline {
        margin: 0 12px 0 0;
        display: inline-block;
    }
    & > span {
        margin: 0 0 0 6px;
        vertical-align: top;
        color: $dark60;
    }
    input {
        display: none;
        & + div {
            cursor: pointer;
            vertical-align: top;
            position: relative;
            display: inline-block;
            @include user-select();
            @include transition();
            &:before {
                content: '';
            }
        }
    }
    &.fancy {
        input {
            & + div {
                &:after {
                    content: '';
                    width: 3px;
                    height: 3px;
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    opacity: 0;
                    box-shadow: 0 18px 0 $primary, 0 -18px 0 $primary, -18px 0 0 $primary, 18px 0 0 $primary, 12px 12px 0 $primary, -12px 12px 0 $primary, 12px -12px 0 $primary, -12px -12px 0 $primary;
                    @include round();
                    @include transform(scale(0));
                }
            }
            &:checked + div {
                &:after {
                    animation: confetti .4s cubic-bezier(.17,.67,.82,1.25) forwards;
                }
            }
        }
    }
}

.checkbox {
    input {
        & + div {
            height: 21px;
            width: 21px;
            background: #fff;
            border: 1px solid $border;
            @include round(4px);
            &:before {
                position: absolute;
                top: 3px;
                left: 7px;
                width: 5px;
                height: 11px;
                opacity: 0;
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
                @include transform(rotate(0deg) scale(0));
                @include transition(all, .3s, ease, .15s);
            }
        }
        &:checked + div {
            background: $primary-light;
            border-color: $primary;
            &:before {
                opacity: 1;
                @include transform(rotate(42deg) scale(1));
                @include transition(all, .15s, cubic-bezier(.17,.67,.82,1.25), .1s);
            }
        }
        &:disabled + div {
            cursor: not-allowed;
        }
        &:disabled:checked + div {
            background: $light;
            border-color: $border;
            &:before {
                border-color: $border;
            }
        }
        &:disabled:not(:checked) + div {
            background: $light;
            border-color: $border;
        }
    }
    &:hover {
        input {
            & + div {
                border-color: $primary;
            }
            &:checked + div {
                background: $primary;
            }
            &:disabled:checked + div {
                background: $light;
            }
        }
    }
}

.radio {
    input {
        & + div {
            width: 21px;
            height: 21px;
            background: #fff;
            border: 1px solid $border;
            @include round();
            &:before {
                position: absolute;
                top: 4px;
                left: 4px;
                display: block;
                width: 11px;
                height: 11px;
                opacity: 0;
                background: #fff;
                @include transform(scale(0));
                @include transition();
                @include round();
            }
        }
        &:checked + div {
            background: $primary-light;
            border-color: $primary;
            &:before {
                opacity: 1;
                @include transform(scale(1));
            }
        }
        &:disabled + div {
            cursor: not-allowed;
            background: $light;
            border-color: $border;
        }
        &:disabled:checked + div {
            &:before {
                background: $border;
            }
        }
    }
    &:hover {
        input {
            & + div {
                border-color: $primary;
            }
            &:disabled + div {
                border-color: $border;
            }
            &:checked + div {
                background: $primary;
            }
            &:disabled:checked + div {
                background: $light;
                border-color: $border;
            }
        }
    }
}

.switch {
    input {
        & + div {
            width: 42px;
            height: 21px;
            border: 1px solid $border;
            background: $border;
            @include round(12px);
            &:before {
                float: left;
                width: 15px;
                height: 15px;
                background: #fff;
                pointer-events: none;
                margin-top: 2px;
                margin-left: 2px;
                @include transition(all, .25s, cubic-bezier(.54,1.85,.5,1));
                @include round(inherit);
            }
        }
        &:checked + div {
            background: $primary-light;
            border: 1px solid $primary;
            &:before {
                @include translate(21px, 0)
            }
        }
        &:disabled + div {
            cursor: not-allowed;
            background: $light;
            border-color: $border;
            &:before {
                background: $border;
            }
        }
    }
    &.fancy {
        input {
            & + div {
                &:after {
                    left: 19px;
                    box-shadow: 0 18px 0 $primary, 0 -18px 0 $primary, -28px 0 0 $primary, 28px 0 0 $primary, 19px 15px 0 $primary, -19px 15px 0 $primary, 19px -15px 0 $primary, -19px -15px 0 $primary;
                }
            }
        }
    }
    &:hover {
        input {
            &:disabled + div {
                border-color: $border;
            }
            &:checked + div {
                background: $primary;
            }
            &:disabled:checked + div {
                background: $light;
                border-color: $border;
            }
        }
    }
}
