.slider {
    display: table;
    border: 1px solid $primary;
    padding: $space-sm-v;
    background: $primary-light;
    @include round(4px);
    &.light {
        background: #fff;
        border-color: $border;
        & > div {
            span {
                color: $dark40;
            }
            .drag {
                border-color: $primary;
                background: $primary-light;
                &:active {
                    background: $primary;
                }
            }
            .drop {
                border: 1px solid $line;
                .wave {
                    background: $line;
                }
            }
            &.active {
                .drop {
                    border: 1px solid $primary;
                    .wave {
                        background: $primary-light;
                    }
                }
            }
            &.hover {
                .drop {
                    .wave {
                        background: $primary;
                    }
                }
            }
        }
    }
    & > div {
        width: 150px;
        height: 30px;
        position: relative;
        text-align: center;
        span {
            display: block;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            position: absolute;
            left: 50%;
            top: 50%;
            @include translate(-50%, -50%);
            @include transition();
        }
        .drag {
            cursor: move;
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
            width: 30px;
            height: 30px;
            background: rgba(#fff, .1);
            border: 1px solid #fff;
            position: absolute;
            z-index: 1;
            left: 0;
            @include transition(background);
            @include round();
            &:before {
                content: 'V';
                font-family: 'dripicons-v2';
                display: block;
                color: #fff;
                font-size: 14px;
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate(-50%, -50%);
                @include transition();
            }
            &:active {
                cursor: grabbing;
                cursor: -moz-grabbing;
                cursor: -webkit-grabbing;
                background: rgba(#fff, .25);
            }
        }
        .drop {
            width: 30px;
            height: 30px;
            border: 1px solid rgba(#fff, .4);
            position: absolute;
            right: 0;
            top: 0;
            @include transition();
            @include round();
            .wave {
                width: 14px;
                height: 14px;
                background: rgba(#fff, .4);
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate(-50%, -50%);
                @include transition();
                @include round();
            }
        }
        &.active {
            span {
                opacity: .4;
            }
            .drop {
                border: 1px solid rgba(#fff, .8);
                .wave {
                    background: rgba(#fff, .8);
                }
            }
        }
        &.hover {
            .drop {
                .wave {
                    background: rgba(#fff, .4);
                    @include transform(translate(-50%,-50%) scale(1.7));
                }
            }
        }
    }
}
