p {
    margin: 0 0 $space-v;
    &.light {
        color: $dark40;
    }
}

h1,
h2,
h3,
h4 {
    font-family: $font-family;
    color: $dark80;
}

h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 32px 0;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 24px 0;
}

h3 {
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    margin: 16px 0;
}

h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 12px 0;
}

.caption {
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: $dark40;
}

label {
    font-weight: 400;
    display: block;
    color: $dark80;
}

small {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: $dark40;
    &.smaller {
        font-size: 11px;
        line-height: 18px;
    }
}
